/* 浮动面板整体 */
#xueqiu-panel {
  display: flex;
  position: fixed;
  top: 70px;
  left: 0px;
  min-width: 100px;

  max-height: calc(100% - 70px);
  max-width: max(720px, 60%);
  /* overflow-y: auto; */
  /* overflow-y: scroll; */
  /* background: #ffffff; */
  /* border-radius: 10px; */
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12); */

  font-size: 14px;
  color: #333;
  z-index: 99999;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#xueqiu-panel>div {
  display: flex;
  flex: 1;
  min-height: 60px;
}

#xueqiu-panel div.panel {
  background: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  padding: 10px;

  display: flex;
  overflow-y: auto;
  flex-direction: column;
  gap: 5px;
}

/* 收缩按钮 */
.side-toggle {
  /* position: fixed; */
  /* left: 0; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  width: 18px;
  height: 60px;

  background: #111;
  border-radius: 0 10px 10px 0;

  cursor: pointer;
  z-index: 999999;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s ease;
}

.side-toggle .arrow {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;

  transition: transform 0.2s ease;
}

.side-toggle.open .arrow {
  transform: rotate(180deg);
}

.side-toggle:hover {
  background: #000;
}

/*按钮样式*/
div.ctl>button {
  background: #0073e4;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  border: 0;
}


div.divider {
  height: 1px;
  background: #eee;
  margin: 6px 0;
}

div.ctl {
    display: flex;
    gap: 6px;
}