/* 表格基础样式 */
.stock-table .gain {
  /* width: 220px; */

}

.stock-table {
  padding: 0px !important;
  /* width: 100%;
  border-collapse: collapse;
  font-size: 14px; */
}


/* .stock-table th,
.stock-table td {
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
} */

/* .stock-table th {
  font-size: 12px;
  color: #aaa;

  background: #f7f8fa;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}

.stock-table th:hover {
  background: #f2f2f2;
}

.stock-table th::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: transform 0.3s;
} */

/* 排序状态样式 */
/* .stock-table th.sorted-asc::after {
  content: ' \2191';
  color: green;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.stock-table th.sorted-desc::after {
  content: ' \2193';
  color: red;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
} */

/* 表格行的悬停效果 */
/* .stock-table tbody tr:hover {
  background: #fafafa;
} */

/* 表格行的交替背景颜色 */
/* .stock-table tbody tr:nth-child(even) {
  background: #fcfcfc;
} */

/* 表格在小屏幕上的响应式设计 */
/* @media (max-width: 768px) {
  .stock-table {
    font-size: 12px;
  }
  .stock-table th,
  .stock-table td {
    padding: 8px 10px;
  }
} */

/* 表格边框和分割线 */
/* .stock-table th,
.stock-table td {
  border-right: 1px solid #eee;
} */

/* .stock-table th:last-child,
.stock-table td:last-child {
  border-right: none;
} */

/*股票上涨幅度*/
/* span.stock_inc{
  margin-left: 10px;
}
span.stock_inc_up{
  color: red;
}
span.stock_inc_down{
  color: green;
}
*/
span.ctl_del {
    color: #ff0000;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
} 